@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
}

.mobile-nav::before {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: rgb(48, 52, 54);
}
.mobile-nav::before {
  content: "";
  position: absolute;
  border-top: 25px solid transparent;
  border-left: 10px solid transparent;
  border-right: 25px solid #fff;
  top: -23px;
  right: 0;
}

.hero-bg {
  /* Change to this url when deploying weird bug in NextJS. First time this
   * happend */
  /* background: url(/fm-sunnyside-agency-landing-page/images/mobile/image-header.jpg) */
  /*   no-repeat center; */
  /* This worked on last project  now it's broken */
  /* background: url(../public/images/mobile/image-stand-out.jpg) no-repeat center; */

  background: url(/fm-sunnyside-agency/images/mobile/image-header.jpg) no-repeat
    center;
  background-size: cover;
  background-position: bottom;
}
.stand-out-bg {
  background: url(/fm-sunnyside-agency/images/mobile/image-stand-out.jpg)
    no-repeat center;
  background-size: cover;
  background-position: center;
}
.transform-bg {
  background: url(/fm-sunnyside-agency/images/mobile/image-transform.jpg)
    no-repeat center;
  background-size: cover;
  background-position: center;
}
.graphic-design-bg {
  background: url(/fm-sunnyside-agency/images/mobile/image-graphic-design.jpg)
    no-repeat center;
  background-size: cover;
  background-position: top;
}
.photography-bg {
  background: url(/fm-sunnyside-agency/images/mobile/image-photography.jpg)
    no-repeat center;
  background-size: cover;
  background-position: top;
}
@media (min-width: 764px) {
  .hero-bg {
    /* Change to this url when deploying weird bug in NextJS. First time this
   * happend */
    /* background: url(/fm-sunnyside-agency-landing-page/fm-sunnyside-agency/images/mobile/image-header.jpg) */
    /*   no-repeat center; */
    /* This worked on last project  now it's broken */
    /* background: url(../public/fm-sunnyside-agency/images/mobile/image-stand-out.jpg) no-repeat center; */

    background: #3dbeff
      url(/fm-sunnyside-agency/images/desktop/image-header.jpg) no-repeat center;
    background-size: contain;
    background-position: bottom;
  }
  .stand-out-bg {
    background: url(/fm-sunnyside-agency/images/desktop/image-stand-out.jpg)
      no-repeat center;
    background-size: cover;
    background-position: center;
  }
  .transform-bg {
    background: url(/fm-sunnyside-agency/images/desktop/image-transform.jpg)
      no-repeat center;
    background-size: cover;
    background-position: center;
  }
  .graphic-design-bg {
    background: url(/fm-sunnyside-agency/images/desktop/image-graphic-design.jpg)
      no-repeat center;
    background-size: cover;
    background-position: top;
  }
  .photography-bg {
    background: url(/fm-sunnyside-agency/images/desktop/image-photography.jpg)
      no-repeat center;
    background-size: cover;
    background-position: top;
  }
}
.hamburger {
  /* padding: 15px 10px 15px 10px; */
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  /* background-color: transparent; */
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  /* width: 40px; */
  /* height: 24px; */
  width: 40px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  /* width: 40px; */
  /* height: 4px; */
  width: 32px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--minus .hamburger-inner::before,
.hamburger--minus .hamburger-inner::after {
  transition:
    bottom 0.08s 0s ease-out,
    top 0.08s 0s ease-out,
    opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner::before,
.hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition:
    bottom 0.08s ease-out,
    top 0.08s ease-out,
    opacity 0s 0.08s linear;
}

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0;
}

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0;
}
